<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>6184273449-jvfjmbio1thiv10r0ridh3ch98okl8vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6184273449-jvfjmbio1thiv10r0ridh3ch98okl8vg</string>
	<key>API_KEY</key>
	<string>AIzaSyBLeiAsNNGYB5B8jLZn0y-_cg4DtlAhGfg</string>
	<key>GCM_SENDER_ID</key>
	<string>6184273449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.pesch.BitUncle</string>
	<key>PROJECT_ID</key>
	<string>bituncle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bituncle-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6184273449:ios:b5d3f61617853c30</string>
	<key>DATABASE_URL</key>
	<string>https://bituncle-app.firebaseio.com</string>
</dict>
</plist>