//
//  Release.xcconfig
//  BitUncle
//
//  Created by Eugène Peschard on 06/02/2019.
//  Copyright © 2019 Eugène Peschard. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-BitUncle/Pods-BitUncle.release.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = app.pesch.BitUncle;
PRODUCT_NAME = BitUncle;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;
